header{
    background-color: #27293d;
    height: 50px;
    padding: 10px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
h2{
    color: rgb(4, 255, 255);
}